name: TNT

on:
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Setup golang
        uses: actions/setup-go@v2
        with:
          go-version: 1.21
          cache: 'go'
          path: /home/runner/go
          key: ${{ runner.os }}-go

      - name: Setup Dependencies
        run: sudo apt-get install libpcap-dev  

      - name: Setting up ProjectDiscovery tools
        env:
          GO111MODULE: on
        run: |
          go install -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest
          go install -v github.com/projectdiscovery/dnsx/cmd/dnsx@latest
          go install -v github.com/projectdiscovery/naabu/v2/cmd/naabu@latest
          go install -v github.com/projectdiscovery/httpx/cmd/httpx@latest
          go install -v github.com/lc/gau/v2/cmd/gau@latest
          go install -v github.com/tomnomnom/waybackurls@latest
          go install -v github.com/projectdiscovery/nuclei/v2/cmd/nuclei@latest
          #go install -v github.com/projectdiscovery/mapcidr/cmd/mapcidr@latest
          
        shell: bash
        
#       - name: Cache ProjectDiscovery tools
#         uses: actions/cache@v3
#         with:
#           cache: 'tools'
#           path: /home/runner/go
#           key: ${{ runner.os }}-go-tools

      - name: Running DNS enumeration...
        run: |
          rm -rf *_*.txt
          subfinder -dL domains.txt -config config/subfinder-config.yaml | dnsx -t 350 -o active_subdomains.txt
          # dnsx -l active_subdomains.txt -t 350 | tee -a active_subdomains.txt
          # sort -u active_subdomains.txt     
        shell: bash


      - name: Running httpx for HTTP webservers probbing
        run: |

           #httpx -l active_subdomains.txt -mc 100,101,200,201,204,301,302,304,400,403,404,500,502,503 -p 1-65535 -t 730 | tee active_urls.txt
           httpx -l active_subdomains.txt -mc 100,101,200,201,204,301,302,304,400,403,404,500,502,503 -t 730 -o active_urls.txt
           httpx -l active_subdomains.txt -title -t 230
        shell: bash

      - name: Running way/gau for getting all urls...
        continue-on-error: true
        timeout-minutes: 340
        run: |
          #nuclei -ut | nuclei -up
          #nuclei -tags log4j -l active_urls.txt -bs 100 -c 50 -rl 300 -nc | tee nuclei_output.txt
          #naabu -l passive_subdomains.txt -p 1-65535 -c 2000 | httpx -title -t 230 | tee naabu.txt
          #naabu -l passive_subdomains.txt -p 1-65535 -c 2000 | tee naabu.txt
          #naabu -l passive_subdomains.txt -tp 1000 -c 3000 | tee naabu.txt
          ##cat naabu.txt | waybackurls | tee way_urls.txt
          
          cat active_urls.txt | gau --subs --blacklist png,jpg,gif,css --o ga_urls.txt
          cat active_urls.txt | waybackurls > way_urls.txt | tee -a ga_urls.txt
          #sort -u ga_urls.txt

      - name: Running NucleiFuzing for vulnerability assessment
        continue-on-error: true
        timeout-minutes: 340
        run: |
          nuclei -up
          git clone https://github.com/projectdiscovery/fuzzing-templates.git
          nuclei -l ga_urls.txt -t fuzzing-templates/ -rl 50 -o nuc_out.txt
          
        shell: bash

      - name: Create local changes
        run: |
          git add *.txt
      - name: Commit results to Github
        run: |
          git config --local user.email "admin@kylin.org"
          git config --global user.name "kylin-team"
          git commit -m "InCloud Report" -a --allow-empty
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
